<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot phrase type list</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>Bot phrase type list</h1>
    <tr th:each="botPhraseType: ${botPhraseTypes}">
        <a th:href="@{~/red_queen/web/bot-phrases/get/list/by-type-title(typeTitle=${botPhraseType.getTitle()})}"/>
            <td th:text="${botPhraseType.getId()}"/>   <td th:text="${botPhraseType.getTitle()}"/> </a><br>
    </tr>
</body>
</html>