.idea
.docker-compose.yml.kate-swp

red-queen/target/*
red-queen/.idea
red-queen/src/main/resources/application*

img-generator/.idea
img-generator/src/main/resources/application*
img-generator/target/*
img-generator/src/main/resources/images/*

content-storage-service/.idea
content-storage-service/src/main/resources/application*
content-storage-service/target/*
content-storage-service/src/main/resources/files/*

teamo-auto-reg/.idea
teamo-auto-reg/src/main/resources/application*
teamo-auto-reg/src/main/resources/selenium/*
teamo-auto-reg/src/main/resources/temp/*
teamo-auto-reg/target/*

proxy-provider/.idea
proxy-provider/.attach_pid*
proxy-provider/src/main/resources/application*
proxy-provider/src/main/resources/free-proxy-list/*
proxy-provider/src/main/resources/free-proxy-list