<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot phrases list</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>Bot phrases panel</h1>
    <tr th:each="botPhrase: ${botPhrases}">
        <div style="border:solid">
            <p>Id: <td th:text="${botPhrase.getId()}"></td></p>
            <p>Body: <td th:text="${botPhrase.getBody()}"></td></p>
            <p>Gender: <td th:text="${botPhrase.getGender()}"></td></p>
            <p>Type title: <td th:text="${botPhrase.getTypeTitle()}"></td></p>
        </div>
    </tr>
</body>
</html>