<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>Home page</h1>
    <p>
        <a href="http://localhost:8080/user-teamo">User panel</a>
    </p>
    <p>
        <a href="http://localhost:8080/teamo-message">Messages panel</a>
    </p>
    <p>
        <a href="http://localhost:8080/lifestyle">Lifestyle panel</a>
    </p>

    <p>
        <a href="http://localhost:8080/lifestyle-type">Lifestyle type panel</a>
    </p>
    <p>
        <a href="http://localhost:8080/photo">Photo panel</a>
    </p>
</body>
</html>