<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="LOGBACK_URL" source="logback.destination.url"/>
    <springProperty name="LOGBACK_PORT" source="logback.destination.port"/>
    <springProperty name="APP_NAME" source="spring.application.name"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGBACK_URL:- }:${LOGBACK_PORT:- }</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "traceId": "%X{traceId:-}",
                        "spanId": "%X{spanId:-}",
                        "appName": "${APP_NAME:-}",
                        "username": "%X{username:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "callerClass": "%class",
                        "callerMethod": "%method",
                        "callerLine": "#asLong{%line}",
                        "text": "%message",
                        "stack": "%throwable"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>