<header>
        <a href="http://localhost:8080/user-teamo">User panel</a>
        <a href="http://localhost:8080/teamo-message">Messages</a>
        <a href="http://localhost:8080/lifestyle">Lifestyle panel</a>
        <a href="http://localhost:8080/lifestyle-type">Lifestyle type panel</a>
        <a href="http://localhost:8080/photo">Photos</a>
        <a href="http://localhost:8080/bot-phrases">Bot phrases</a>
        <a href="http://localhost:8080/bot-phrases-type">Bot phrases types</a>
        <a href="http://localhost:8080/scheduler-bot">Scheduler</a>
</header>