<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <style>
        .images {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        .images img {
            display: block;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 9 / 9;
        }
    </style>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="images">
        <tr th:each="photo: ${photos}">
            <a th:href="@{'~/red_queen/web/user-teamo/get/info/' + ${photo.getUserId()}}">
                <img th:src="${photo.getUrl()}">
            </a>
        </tr>
    </div>
</body>
</html>