<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List chats</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h1>List chats</h1>
    <tr th:each="chat: ${chats}">
        <a th:href="@{~/red_queen/web/teamo-message/get/chat(senderId=${chat.getSenderId()},receiverId=${chat.getReceiverId()})}"/>
           <p>
               <td th:text="@{'Chat ' + ${chat.getReceiverName()}  + ' ' + ${chat.getReceiverId()} + ' with: '+ ${chat.getSenderName()}+' '+ ${chat.getSenderId()}}"/></a>
           </p>
    </tr>
</body>
</html>