<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat list</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <tr th:each="message: ${messages}">
        <div style="border:solid">
            <p>Id :<td th:text="${message.getId()}"></td> </p>
           <p>Sender:  <a th:href="@{'~/user-teamo/get/info/' + ${message.getSenderId()}}"><b> <td th:text="${message.getSenderName()}"></td></b></a></p>
            <p>Receiver:  <a th:href="@{'~/user-teamo/get/info/' + ${message.getReceiverId()}}"> <b> <td th:text="${message.getReceiverName()}"></td></b></a></p>
           <p>Body:  <td th:text="${message.getBody()}"></td></p>
           <p>Date:  <td th:text="${message.getDate()}"></td></p>
        </div>
    </tr>
</body>
</html>